<p style="color: green"><%= notice %></p>

<h1>Flows</h1>

<div id="flows">
  <% @flows.each do |flow| %>
    <%= render flow %>
    by <%= flow.user.username if flow.user %>
    <p>
      <%= link_to "Show this flow", flow %>
    </p>
  <% end %>
</div>

<%= link_to "New flow", new_flow_path %>
