<p style="color: green"><%= notice %></p>

<%= render @flow %>
by <%= @flow.user.username if @flow.user %>
<div>
  <%= link_to "Edit this flow", edit_flow_path(@flow) %> |
  <%= link_to "Back to flows", flows_path %>

  <%= button_to "Destroy this flow", @flow, method: :delete %>
</div>
